Django==1.3.1
#MySQL-python==1.2.3
PIL==1.1.7
#django-agenda==0.1
#django-contact-form==0.3
django-debug-toolbar==0.8.5
#django-debug-toolbar-user-panel==0.1
git+git://github.com/playfire/django-debug-toolbar-user-panel.git
django-filebrowser==3.3.0
django-grappelli==2.3.5
#docutils==0.7
#egenix-mx-base==3.1.3
#memcache-toolbar==0.5.2
git+git://github.com/ross/memcache-debug-panel.git
#numpy==1.5.0
#psycopg2==2.3.2
#pycrypto==2.3
python-dateutil==1.5
python-memcached==1.47
#reportlab==2.4
vobject==0.8.1c
#wsgiref==0.1.2
django-menu==0.1.3
hg+http://bitbucket.org/ubernostrum/django-contact-form/#egg=django-contact-form
git+git://github.com/jpells/django-agenda.git
django-lfs
gunicorn
